body{

    font-family: Arial, Helvetica, sans-serif;
}


.dev-desc{
    font-size: medium;
}

.dev-name{
    padding-top: 1pc;
    padding-bottom: 0.2pc;
    font-size: large;
    font-weight: bold;
}

#team-presentation{
    padding: 3pc;
    width: 70%;
    margin: auto;
    background-color: bisque;
    border: 4px solid sandybrown;
}